<h1> <%= @task.title %> </h1>

<div id="container">
  <div class="details">
    <p> <%= @task.details %></p>
  </div>
</div>


<%= form_for(@task) do |f| %>
  <%= f.check_box :completed %>
  <%= f.label :Completed %> </p>
<% end %>


<%= link_to "Back to the list", tasks_path %>

<%= link_to "Edit task", task_edit_path(@task) %>

<%= link_to "Delete", task_path(@task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>


